<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <!--<ion-item item-icon-left href="#" ng-hide="rootModel.isPinned" ng-class="{active: rootModel.favoritesDisabled}" ng-click="openPopoverMenuOption('favorite')">
                <i class="icon ion-ios-heart"></i>
                Pin to Favorites
            </ion-item>
            <ion-item item-icon-left href="#" ng-show="rootModel.isPinned" ng-class="{disabled: rootModel.favoritesDisabled}" ng-click="openPopoverMenuOption('unfavorite')">
                <i class="icon ion-ios-heart-outline"></i>
                Unpin Favorite
            </ion-item>-->
            <ion-item item-icon-left href="#" ng-click="openPopoverMenuOption('share')">
                <i class="icon ion-android-share-alt"></i>
                Share
            </ion-item>
        </div>
    </ion-content>
</ion-popover-view>